.quienesSomos-principal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    margin-top: 10px;
    font-family: 'edosz';
}

.image-quienesSomos {
    width: 500px;
    width: 500px;
    margin: 20px 0 20px 0;
}

@media only screen and (max-width: 991px) {
    .quienesSomos-principal-container {
        justify-content: center;
        align-items: center;
    }
    .image-quienesSomos {
        width: 250px;
        height: 250px;
    }
}