.navbar-custom {
    background-color: rgb(240, 203, 243);
    color: white;
    text-align: center;
}

.list-links-navbar {

}

@media only screen and (max-width: 991px) {
    .list-links-navbar {
      margin-left: 10px;
    }
  }