.navbar-custom {
    background-color: rgb(240, 203, 243);
    color: white;
    text-align: center;
    font-family: 'edosz';
}

Link {
  text-decoration: none;
}


@media only screen and (max-width: 991px) {
    .list-links-navbar {
      margin-left: 10px;
    }
    .navbar-toggler {
      margin-right: 10px;
    }
  }